@import 'about';
@import 'Blimp';
@import 'contact';
@import 'Food';


.navbar-default{
    border:none;
    background: none;
}

.navbar-brand img{
    height:45px;
     
}

.navbar-brand{
    padding:0px;
}
body{
    background-image:url("../../images/back_ground.jpg");
    background-repeat: none;
    background-size: cover;
}