#contact {
    width:1000px ;
}

.about-cards{

    color: white;
    margin-left: 150px;
    font-size:25px;
    font-weight:bold ;
     font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-group {
    margin-bottom: 50px;
    margin-left:250px;
}
.heady-head{
    color:white;
    text-align:center;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

